# 缓存文件
DerivedDataCache/
Intermediate/
Saved/
Build/
.idea/
.vs/
Binaries/

Plugins/*/.git/
Plugins/*/DerivedDataCache/
Plugins/*/Intermediate/
Plugins/*/Saved/
Plugins/*/Build/
Plugins/*/.idea/
Plugins/*/.vs/
Plugins/*/Binaries/

# 上个版本
Content/main/

# 项目资源文件
Content/StarterContent/
Content/BrutalistLevelKit/
Content/EF_Edie/
Content/Mediterranean/
Content/ModernHouse/
Content/VintageRoom/